<div class="card" style="max-width: 50rem;">
    <p style="text-align:left;">
        {% if current_user.is_amping_tweet(tweet_card.tweet_id) %}
            <a href="{{ url_for('main.unamp_tweet') }}">{{tweet_card.num_amps}}<img src="/static/blue_flame.png" height="20" width="20">️</a>
        {% else %}
            <a href="{{ url_for('main.amp_tweet', tweet_id=tweet_card.tweet_id) }}">{{tweet_card.num_amps}} <img src="/static/red_flame.png" height="20" width="20">️</a>
        {% endif %}

        {% if current_user.is_following_twitter_username(tweet_card.screen_name) %}
            <a href="{{ url_for('main.unfollow_twitter_user', twitter_username=tweet_card.screen_name) }}">
                {{ 'Unfollow' }}
            </a>
        {% else %}
            <a href="{{ url_for('main.follow_twitter_user', twitter_username=tweet_card.screen_name) }}">
                {{ 'Follow' }}
            </a>
        {% endif %}

        <span style="float:right;">
            <a href="{{ url_for('main.twitter_user', twitter_username=tweet_card.screen_name) }}">
                {{ "Browse Tweets" }}
            </a>
        </span>
    </p>

    <div class="tweet-card">
    {{ tweet_card.oembed.html|safe }}
    </div>

    <p style="text-align:left;">
        {% if tweet_card.event_tuple %}
        {{ tweet_card.event_tuple[0].display() + tweet_card.event_tuple[1].date().strftime('%b %d, %Y') }}.
        {% endif %}
        <span style="float:right;">
            <a href="{{ url_for('main.who_amping_tweet', tweet_id=tweet_card.tweet_id) }}">
                Who's Amping This?
            </a>
        </span>
    </p>
</div>
