<div class="card" style="max-width: 50rem;">
    <p style="text-align:left;">
    {% if current_user.is_amping_tweet(card.status_id) %}
        <a href="{{ url_for('main.unamp_tweet') }}">{{card.amp_count}}&#x1F525;️ Un-Amp</a>
    {% else %}
        <a href="{{ url_for('main.amp_tweet', tweet_id=card.status_id) }}">{{card.amp_count}}&#x1F525; Amp</a>
    {% endif %}
        <span style="float:right;">
            <a href="{{ url_for('main.who_amping_tweet', tweet_id=card.status_id) }}">Who's Amping This?</a>
        </span>
    </p>
    <div class="tweet-card">
    {{ card.html|safe }}
    </div>
</div>
