<table>
    <tr valign="top">
        <td>ID: {{ tweet.id }}, Text:<br>{{ tweet.text }}</td>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yup, that&#39;s why I didn&#39;t wanna be introduced to him at Girlfest.</p>&mdash; Charlyne Yi (@charlyne_yi) <a href="https://twitter.com/charlyne_yi/status/919828353548292096?ref_src=twsrc%5Etfw">October 16, 2017</a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    </tr>
</table>
