<table>
    <tr valign="top">
        <td>
            <img src="{{ twitter_user_dict.profile_image_url }}">
            <a href="{{ url_for('main.twitter_user', twitter_username=twitter_user_dict.screen_name) }}"> @{{ twitter_user_dict.screen_name }} </a>
            {% if current_user.is_following_twitter_username(twitter_user_dict.screen_name) %}
            <a href="{{ url_for('main.unfollow_twitter_user', twitter_username=twitter_user_dict.screen_name) }}">Unfollow</a>
            {% else %}
            <a href="{{ url_for('main.follow_twitter_user', twitter_username=twitter_user_dict.screen_name) }}">Follow</a>
            {% endif %}
        </td>
    </tr>
</table>
